/* general variables */
:root {
    --theme-body-font-color: 0, 2, 72;
    --theme-body-sub-title-color: 82, 82, 108;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --input-border: 203, 203, 233;
    --shadow-color: 67, 56, 181;
    --light-bg: 239, 245, 248;
    --service-shadow: 82, 77, 141;
    --light-color: 247, 247, 247;
    --border-light: 233, 239, 253;
    --customer-review-bg: 249, 249, 249;
    /* Theme colors variables */
    --primary: 115, 102, 255;
    --secondary: 255, 51, 100;
    --success: 84, 186, 74;
    --info: 22, 199, 249;
    --warning: 255, 169, 65;
    --danger: 252, 68, 56;
    --light: 244, 244, 244;
    --dark: 0, 2, 72;
    --even-bg: 245, 248, 255;
    /* NFT colors variables */
    --dark-bg: 22, 21, 40;
    --dark-blue: 33, 31, 58;
    --light-blue: 145, 145, 210;
    --card-bg: 33, 31, 58;
    --footer-border: 70, 63, 144;
    --blue: 44, 40, 109;
}

/* font variables */
$font-rubik: Rubik;
$font-roboto: Roboto;
$font-serif: sans-serif;
$font-cursive: 'Caveat', cursive;