/**=====================
    2.23 Banner css start
==========================**/
.banner-style-3 {
    .banner-box {
        position: relative;
        padding: 1.875rem;
        background-image: url(../images/job/bg-banner.webp);
        box-shadow: 0px 10px 10px rgba(var(--service-shadow), 0.04), 0px 8.69547px 6.95638px rgba(var(--service-shadow), 0.06), 0px 4.6181px 3.69448px rgba(var(--service-shadow), 0.0484671), 0px 1.9217px 1.53736px rgba(var(--service-shadow), 0.0337375);
        border-radius: 10px;

        h3 {
            font-size: 1.25rem;
            margin-bottom: .625rem;

            @include media-breakpoint-down(lg) {
                font-size: 1rem;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 1.25rem;
        }
    }

    .banner-list {
        display: flex;
        align-items: center;
        margin-top: .9375rem;
        gap: 1.0625rem;
        flex-wrap: wrap;

        @include media-breakpoint-down(sm) {
            gap: .5rem;
        }

        a {
            svg {
                font-size: .75rem;
            }
        }
    }

    .right-image {
        position: absolute;
        right: 0;
        bottom: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

.list-box {
    padding: .3125rem 1rem;
    border: 1px solid rgba(48, 48, 85, 0.2);
    border-radius: 3px;

    svg {
        width: 1.125rem;
        height: 1.125rem;
        fill: rgba(var(--theme-body-sub-title-color), 1);
    }
}

/**=====================
    2.23 Banner css end
==========================**/